<hgroup>
  	<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
      <h2>{{ site.subtitle }}</h2>
    {% endif %}
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- webnux.fr - top responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8366045826431693"
     data-ad-slot="2738557732"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
  <div class="clear"></div>
</hgroup>
